spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5432/agri_market
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect